mixin donate_links()
  ul
    li
      a(target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G4F7NM38ADPEC&source=url")
        img(src="../../img/paypal.svg" style="max-width: 100%;" width="24" height="24")
        span PayPal
    li
      a(target="_blank" href="https://liberapay.com/onoono")
        img(src="../../img/liberapay.svg" style="max-width: 100%;" width="24" height="24")
        span LiberaPay
    li
      a(target="_blank" href="https://www.patreon.com/onoono")
        img(src="../../img/patreon.svg" style="max-width: 100%;" width="24" height="24")
        span Patreon
mixin footer_links ()
  a(target="_blank" href="https://github.com/kuanyui/BooruShinshi") Github
  a(target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/booru-shinshi/") Mozilla Firefox Addon
