include ./mixin.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" type="text/css" href="./common_style.css")
  body
  .root.i18nArea(lang="ja")
    .banner
      .logo: img(src="../../img/icon.png")
      .title ボール紳士
      .subtitle ボール紳士が成功にアップデートされました！
    blockquote.syncLocalStorageMigrationWarning
      h3 ⚠️ バージョン #[code 0.12.0] の重要なお知らせ
      p これをお読みの方は、BooruShinshi をバージョン #[code 0.11.1] から #[code 0.12.0] にアップグレードされたことになります。このバージョンには大きな変更が含まれています。これは #[code 0.12.0] が #[a(href="https://github.com/kuanyui/BooruShinshi/issues/8") ある潜在的なバグ]を解決するためです。ただし、Firefox の拡張機能アップグレードの仕組みにより、一部のシナリオでは既存の設定が失われる可能性があります。この警告は設定の損失を防ぐためのものです。#[b.openOptionsUi 設定データの損失を避けるため、今すぐ設定ページを開いて底までスクロールし、対応してください。]
    article
      hr
      p #[b 今回の更新では新機能があるかもしれない]、#[b.openOptionsUi このアドオンの設定画面を開いて、新機能をご確認しよう。]
      p 不具合がある場合は「BooruShinshiのアドオン設定 → Reset to Defaults」を試すか、Booru Shinshiの再インストールをお願いします。
      p それでも解決しない場合は、GitHub に issue　を作成するか（アドオンページにリンクがあります）、私にメールを送って報告してください。
      hr
      p 私はひどく#[b 珍しい休日の時間]を費やして、#[b 無料で自由]の Firefox のアドオンを作ってきました。
      p: u もし、このアドオンが役に立ったと思われたなら、もっと素晴らしいアドオンの開発のために、#[b 少額の寄付]はよろしいじゃないかしら：
        +donate_links()
      hr
  .root.i18nArea(lang="en")
    .banner
      .logo: img(src="../../img/icon.png")
      .title Booru Shinshi
      .subtitle Booru Shinsi (ボール紳士) is just upgraded successfully!
    blockquote.syncLocalStorageMigrationWarning
      h3 ⚠️ Important Notice of Version #[code 0.12.0]
      p If you are reading this, this means you've already upgraded BooruShinshi from version #[code 0.11.1] to #[code 0.12.0], which contains some major changes because this #[code 0.12.0] is to solve a potential bug described #[a(href="https://github.com/kuanyui/BooruShinshi/issues/8") here]. But in some scenarios, it's possible to lose the existing settings due to the mechanism of Firefox's extension upgrading. This warning is to prevent you from losing your settings. #[b.openOptionsUi Please open the settings page and scroll to bottom to take action right now to avoid setting data loss.]
    article
      hr
      p #[b New features and changes may be contained in this update], you can #[b.openOptionsUi open this Addon's setting page to see whats' new.]
      p If you encounter some problems, please try "BooruShinshi's Addon Settings → Reset to Default" or reinstall Booru Shinshi.　
      p If still not solve your problem, please go to GitHub to open an issue, or send me email to report.
      hr
      p I have spent many of my #[b valuable holiday hours] working on these #[b free and libre] Firefox plugins without any repay.
      p: u #[u If you find this Addon useful or helpful, please consider making some #[b donation] to support me to make more goods:]
        +donate_links()
      hr
  .root.i18nArea(lang="zh")
    .banner
      .logo: img(src="../../img/icon.png")
      .title ボール紳士
      .subtitle ボール紳士 (Booru Shinshi) 已經成功更新！
    blockquote.syncLocalStorageMigrationWarning
      h3 ⚠️ 版本 #[code 0.12.0] 重要通知
      p 如果您正在閱讀這個訊息，表示您已經將 BooruShinshi 從版本 #[code 0.11.1] 升級到 #[code 0.12.0]。這個版本包含了一些重大變更，因為 #[code 0.12.0] 解決了#[a(href="https://github.com/kuanyui/BooruShinshi/issues/8") 一些潛在錯誤]。但在某些情況下，由於 Firefox 擴充套件升級機制的原因，可能會導致現有設定遺失。此警告是為了防止您遺失現有設定資料的提醒。#[b.openOptionsUi 請立即打開設定頁面並滾動到底部採取行動，以避免設定資料遺失。]
    article
      hr
      p #[b 這次更新可能新增了功能]，可以#[b.openOptionsUi 打開 Addon 的設定畫面看看多加了哪些新功能。]
      p 如果遇到問題，請嘗試重新安裝、或者於 Addon 設定頁面中重設設定回預設值 (Reset to Defaults)。
      p 如果仍然無法解決，請到 Github 開 issue（於 Addon 頁面中有連結）、或者來信回報。
      hr
      p 我無償地花費了許多#[b 假日的寶貴時間]在製作#[b 免費且自由]的 Firefox 外掛。
      p: u 如果你覺得這個 Addon 好用或有幫助到你，請考慮捐點小錢鼓勵繼續開發更多好東西吧。
        +donate_links()
      hr


  script(src="../internal_pages_script.js")

