#BooruShinshi_PostToolsRoot {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 9999;
    .ButtonsRow {
        display: flex;
    }
    button {
        font-size: 28px;
        cursor: pointer;
        background: #E9E9ED;
        border: 1px solid #aaaaaa;
        color: #000000;
        padding: 10px 20px;
        display: block;
        text-align: left;
        width: 100%;
    }
    .asBtn {
        flex: 0 1;
        // width: 0;
    }
    .category__copyright {
        background: #bdf;
        border-color: #06c;
        .categoryType {
            color: #06c;
        }
        //background: #ebf;
        //border-color: #609;
        //.categoryType {
        //    color: #609;
        //}
    }
    .category__character {
        background: #dfa;
        border-color: #3a3;
        .categoryType {
            color: #3a3;
        }
    }
    .category__artist {
        background: #fdd;
        border-color: #900;
        .categoryType {
            color: #900;
        }
    }
    .category__studio {
        background: #ffc;
        border-color: #660;
        .categoryType {
            color: #660;
        }
    }
}
#BooruShinshi_QueryJumper {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 999999999;
    &.moved {
        left: unset;
        right: 20px;
    }
    .ButtonsContainer {
        display: flex;
        button {
            cursor: pointer;
            font-size: 20px;
            background: #E9E9ED;
            border: 1px solid #aaaaaa;
            color: #000000;
            padding: 10px 20px;
            display: block;
        }
    }
    .LinksContainer {
        display: flex;
        flex-direction: column;
        .FaviconImage {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
        a {
            display: flex;
            text-decoration: none;
            font-size: 14px;
            padding: 8px 8px;
            .WebsiteTitleText { color: #3388ff; }
            &:hover:not(.currentSite) {
                background: #eeeeee;
            }
            &:visited {
                .WebsiteTitleText { color: #8833ff; }
            }
            &.currentSite {
                .WebsiteTitleText { color: #aaaaaa; }
                cursor: not-allowed;
            }
        }
    }
}

#BooruShinshi_Paginator {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 999999998;
    a {
        cursor: pointer;
        font-size: 20px;
        background: #E9E9ED;
        border: 1px solid #aaaaaa;
        color: #000000;
        padding: 10px 20px;
        display: block;
        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
            filter: opacity(0.3);
        }
    }
}

#__BooruShinshi__Tooltips__ {
    // NOTE: Hack: Overwrite strange CSS rules that will cause tippy broken (ex: Safebooru, TBIB)
    body,div,h1,h2,h3,h4,h5,h6,p,ul,li,dd,dt {
        background: transparent;
    }
    // NOTE: Hack: Copied from tippy.js. This is a workaround to fix that tippy() cannot load style correctly in some websites (ex: yande.re)
    .tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}

}