#BooruShinshi_PostToolsRoot {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 9999;
    .ButtonsRow {
        display: flex;
    }
    button {
        font-size: 28px;
        cursor: pointer;
        background: #E9E9ED;
        border: 1px solid #aaaaaa;
        color: #000000;
        padding: 10px 20px;
        display: block;
        text-align: left;
        width: 100%;
    }
    .asBtn {
        flex: 0 1;
        // width: 0;
    }
}
#BooruShinshi_QueryJumper {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 999999999;
    &.moved {
        left: unset;
        right: 20px;
    }
    .ButtonsContainer {
        display: flex;
        button {
            cursor: pointer;
            font-size: 20px;
            background: #E9E9ED;
            border: 1px solid #aaaaaa;
            color: #000000;
            padding: 10px 20px;
            display: block;
        }
    }
    .LinksContainer {
        display: flex;
        flex-direction: column;
        a {
            display: flex;
            text-decoration: none;
            font-size: 14px;
            padding: 8px 8px;
            color: #3388ff;
            &:hover:not(.currentSite) {
                background: #eeeeee;
            }
            &:visited {
                color: #8833ff;
            }
            &.currentSite {
                color: #aaaaaa;
                cursor: not-allowed;
            }
        }
    }
}

#BooruShinshi_Paginator {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:  #fff;
    border: solid 1px #aaa;
    padding: 6px;
    z-index: 999999998;
    a {
        cursor: pointer;
        font-size: 20px;
        background: #E9E9ED;
        border: 1px solid #aaaaaa;
        color: #000000;
        padding: 10px 20px;
        display: block;
        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
            filter: opacity(0.3);
        }
    }
}
